
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Edit Profile</h1>
      <div class="form-group">
        <label for="">First Name</label>
        <input [(ngModel)]="userdetails.firstName" type="text" maxlength = "30" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Last Name</label>
        <input [(ngModel)]="userdetails.lastName" type="text" maxlength = "30" class="form-control">
      </div>

      <div class="form-group">
          <label for="">Mobile No</label>
          <input [(ngModel)]="userdetails.phoneNo" type="tel" maxlength = "10" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="userdetails.password" type="password" maxlength = "10" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Comfirm Password</label>
        <input [(ngModel)]="confirmPassword" type="password" maxlength = "10" class="form-control">
      </div>  
      <div>
      </div>  
       <h3>Address Details</h3>
       <div class="form-group">
          <label for="">House No</label>
          <input [(ngModel)]="userdetails.address.houseNo" type="text" maxlength = "10" class="form-control" >
        </div>
       <div class="form-group">
          <label for="">Area</label>
          <input [(ngModel)]="userdetails.address.area" type="text" maxlength = "30" class="form-control">
        </div>
        <div class="form-group">
            <label for="">City</label>
            <input [(ngModel)]="userdetails.address.city" type="text" maxlength = "30" class="form-control">
          </div>
        <div class="form-group">
            <label for="">District</label>
            <input [(ngModel)]="userdetails.address.district" type="text" maxlength = "30" class="form-control">
          </div>
        <div class="form-group">
            <label for="">State</label>
            <input [(ngModel)]="userdetails.address.state" type="text" maxlength = "30" class="form-control">
          </div>
        <div class="form-group">
            <label for="">Country</label>
            <input [(ngModel)]="userdetails.address.country" type="text" maxlength = "30" class="form-control">
          </div>
          <div class="form-group">
              <label for="">PIN Code</label>
              <input [(ngModel)]="userdetails.address.pincode" type="tel" maxlength = "6" class="form-control" pattern="[0-9]{6}">
            </div>
          <div class="form-group">
              <label for="">Upload Photo</label>
              <input [(ngModel)]="userdetails.photo" type="file"  class="form-control" >
            </div>

      <div class="form-group">
          <button (click)="onSubmit(userdetails)" class="btn btn-success">Submit</button>
          <button (click)="onCancel()" class="btn btn-warning" style="margin-left: 10px;">Cancel</button>
      </div>
      <span class="label label-danger">{{message}}</span>
    </div>
  </div>
  
