
<table>
    <tr>
      
      <td style="width: 1000px;text-align:center; margin-left: 10%">
        <h1 style="color:greenyellow">     AgriCulture Portal     </h1>
        <h5 style="font-style: italic; color: rgb(64, 66, 189);">     farm to shop trading platform       </h5>
      </td>
      <td><img src="../assets/agri.jpeg" alt="Govt logo"left="50%" aligned="middle" height="100px" width="500px"></td>
      <td></td>
    </tr>
  </table>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
   
   <ul>
      
   </ul>
   
   <div>
    <ul class="nav navbar-nav" >
        <li class="active">
            <a routerLink="">Home</a>
        </li>
        
        <li class="dropdown">
            <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Major Crops</a>  
                <ul class="dropdown-menu">
                    <li><a href="#" >Wheat</a></li>
                    <li><a href="">Rice</a></li>   
                    <li><a href="">Maize</a></li>
                    <li><a href="">Jawar</a></li>
                </ul>
          
        </li>
        <li class="active">
            <a routerLink="/aboutUs">About Us</a>
        </li>
        <li>
            <a routerLink="/login">LogIn</a>
        </li>
        <li class="active">
            <a routerLink="/faq">FAQ</a>
        </li>        
        
    </ul>
</div>
</nav>




<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            
                      

    <div  class="form-group">
       <h1  >Wholesaler's Portal</h1>
       <h5 style="font-style: italic">the leader in the field</h5>
        <br>
       <p>“Agri Portal” takes up the opportunity to revolutionize life for farmers through a website, substantially designed for farmers residing in rural areas of India. It’s a one step platform for Farmers where information about crop prices, shop agri based products, selling their produce, agricultural news.</p>
    </div>


    <button (click)="onlogin()" class="btn btn-primary">Login</button>&nbsp;&nbsp;
    <button (click)="onRegister()" class="btn btn-primary">Register</button>&nbsp;&nbsp;
    

   
    

  
    
</div>
</div>

