
<table>
    <tr>
      
      <td style="width: 1000px;text-align:center; margin-left: 10%">
        <h1 style="color:greenyellow">     AgriCulture Portal     </h1>
        <h5 style="font-style: italic; color: rgb(64, 66, 189);">     farm to shop trading platform       </h5>
      </td>
      <td><img src="../assets/agri.jpeg" alt="Govt logo"left="50%" aligned="middle" height="100px" width="500px"></td>
      <td></td>
    </tr>
  </table>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
   
   <ul>
      
   </ul>
   
   <div>
    <ul class="nav navbar-nav" >
        <li class="active">
            <a routerLink="/adminHome">Home</a>
        </li>
        
      
        <li class="active">
            <a routerLink="/home">LogOut</a>
        </li>
             
        <li class="active">
            <a routerLink="/allPendingAdv">All Pending Adv</a>
        </li> 
        <li class="active">
            <a routerLink="/allLiveAddforAdmin">All Live Adv</a>
        </li>
        <li class="active">
            <a routerLink="/allClosedAdv">All Closed Adv</a>
        </li> 
        <li class="active">
            <a routerLink="/transactionHistory">Transaction History</a>
        </li> 
        <li class="active">
            <a routerLink="/cropManagement">Crop Management</a>
        </li> 
            <li class="active">
                <a routerLink="/controlManagement">Control Management</a>
            </li> 
               
        
    </ul>
</div>
</nav>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <h1> Transaction History         </h1>
        
     
        <div class="form-group">
           
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Advertise Id</th>
                            <th>Order Id</th>
                            <th>Purchaser Id</th>
                            <th>Crop Name</th>
                            <th>purchased Quantity</th>
                            <th>Per Unit Price</th>
                            <th>Total Amount</th>
                            <th>Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let advlist of historyList" >
                            <td>{{advlist.farmerAdvId}}</td>
                            <td>{{advlist.wholesalerOrderId}}</td>
                            <td>{{advlist.userDetails.userId}}</td>
                            <td>{{advlist.cropName}}</td>
                            <td>{{advlist.orderQty}}</td>
                            <td>{{advlist.perUnitPrice}}</td>
                            <td>{{advlist.perUnitPrice*advlist.orderQty}}</td>
                            <td>{{advlist.date}}</td>
                       
                        </tr>
                    </tbody>
                </table>
            </div>
           
          </div>        
    </div>
